/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct.-2016, 22:00:08
    
*/
.not-active {
   pointer-events: none;
   cursor: default;
   background-color: grey;
   color:red;
   
}
html {
    position: relative;
    min-height: 100%;

}

body {
    margin-bottom: 60px;
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    text-align: center;
}


.background{
    background-image: url("../img/parchemin.jpg");
    opacity:0.9;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 20px 20px 20px -3px rgba(0,0,0,0.3) inset,
                -20px -20px 20px 3px rgba(0,0,0,0.3) inset;
    
    border-radius: 25px;
    

}