/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct.-2016, 22:00:08
    Author     : Quentin
*/

html {
    position: relative;
    min-height: 100%;

}

body {
    margin-bottom: 60px;
    background-image: url("img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    text-align: center;
}

.server{
    color: white;
    background-color: brown;
    
}